.App{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.Box{
 display: flex;
 align-items: center;
 justify-content: center;
 margin:2% 0;
}

.Container{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
 }

.ColorBox{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  width: 25vw;
  height: 25vw;
}

h1 {
	font-family: 'Courier New', Courier, monospace;
	font-size: 10vw;
  word-wrap: break-word;
  text-align: center;
  margin: 0;
  animation: color-change 20s infinite;
  text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #9c9c9c;
}

label{
  font-family: 'Courier New', Courier, monospace;
	font-size: 3vw;
  word-wrap: break-word;
  text-align: center;
  font-weight: 700;
}

.ColorBox label{
  color: white;
  -webkit-text-stroke-width: 1px; 
  -webkit-text-stroke-color: black; 
}

footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  animation: backgroundColor-change 20s infinite;
}

@keyframes color-change{
  0% {color: red;}
  25% {color: blue;}
  50% {color: green;}
  75% {color: blue;}
  100% {color: red;}
}

@keyframes backgroundColor-change{
  0% {background-color: pink;}
  25% {background-color: lightblue;}
  50% {background-color: lightgreen;}
  75% {background-color: lightblue;}
  100% {background-color: pink;}
}